---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">This page is not updated frequently. You can also find my articles on <a href="https://scholar.google.com/citations?user=sd4Zd1wAAAAJ&hl=en">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign posts_in_category = site.publications | where: "category", category[0] %}

    {% if posts_in_category.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />


      {% assign published_posts = posts_in_category | where_exp: "p", "p.status != 'under_review'" %}
      {% assign under_review_posts = posts_in_category | where_exp: "p", "p.status == 'under_review'" %}


      {% assign published_sorted = published_posts | sort: "date" | reverse %}

      {% assign under_review_sorted = under_review_posts | sort: "date" | reverse %}

      {% assign ordered_posts = published_sorted | concat: under_review_sorted %}

      {% assign counter = 1 %}
      {% for post in ordered_posts %}
        {% include archive-single.html number=counter %}
        {% assign counter = counter | plus: 1 %}
      {% endfor %}
    {% endif %}

  {% endfor %}
{% else %}
  {% assign published_posts = site.publications | where_exp: "p", "p.status != 'under_review'" %}
  {% assign under_review_posts = site.publications | where_exp: "p", "p.status == 'under_review'" %}
  {% assign published_sorted = published_posts | sort: "date" | reverse %}
  {% assign under_review_sorted = under_review_posts | sort: "date" | reverse %}
  {% assign ordered_posts = published_sorted | concat: under_review_sorted %}

  {% assign counter = 1 %}
  {% for post in ordered_posts %}
    {% include archive-single.html number=counter %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
{% endif %}
